
p {
    color: navy;
}

table, td {
    border: 1px solid black;
    cursor: pointer;
}

td.field {
    width: 40px;
    height: 40px;
    text-align: center;
}

.onmouseover {
    background-color: lightgray;
}

.flaged {
    background-color: darkorange;
}


.explosion {
    background-color: crimson;
}